fastapi
uvicorn[standard]
sqlalchemy
sqlalchemy-utils
python-dotenv
psycopg2-binary
python-jose[cryptography]
pydantic
pydantic-settings
pydantic[email]
python-multipart
alembic>=1.10
pytest
pytest-asyncio
httpx